%h1 All your tasks are finished or you are a liar or you don't enter all your tasks into this site or you |
  don't enter all your tasks into this site and you are a liar. Theoretically, you could be a liar whose |
  tasks are finished, but that doesn't really do anything for the joke. |
%p
  = link_to 'Add another task', :action => 'new'