<div id="timer">
    <span id="mm"></span>-<span id="ss"></span>-<a id="add5" href="#">Add 5 minutes</a>-<a id="sub5" href="#">Subtract 5 minutes</a>-<a id="stopit" href="#">Stop It!</a>
</div>

<h1><%=h @later_link.name %> - <%= link_to "I'm finished with this task", :controller => 'later_links', :action => 'remove_largest_and_next_largest' %></h1>

<object data="<%=h @later_link.url %>" style="width: 100%; height: 500px;" height="500px"> </object>
