<h1><%=h @later_link.name %> - <a href="remove_largest_and_next_largest">I'm finished with this task</a></h1>

<iframe src="<%=h @later_link.url %>" style="width: 100%; height: 500px;" height="500px"> </iframe>
