<h1><%=h @later_link.name %> - <%= link_to "I'm finished with this task", :controller => 'later_links', :action => 'remove_largest_and_next_largest' %></h1>

<iframe src="<%=h @later_link.url %>" style="width: 100%; height: 500px;" height="500px"> </iframe>
